fastapi>=0.95.0
uvicorn[standard]>=0.22.0
python-dotenv>=1.0.0
websockets>=11.0.3
twilio>=8.5.0
requests>=2.31.0
pyttsx3>=2.90
numpy>=1.26.0
soundfile>=0.12.1
python-multipart==0.0.6
pydub
gtts==2.3.2
deepgram-sdk
jinja2
groq
edge-tts
speechrecognition
google-generativeai
httpx
